arch   = arm
family = island
chip   = 28160
board  = tablet_28160
option = initrd
option = suspend_invalid
option = android
option = usb_ehci
option = ext4 
option = mmc 