arch   = arm
family = island
chip   = 28160
board  = tablet_28160
board  = bcm4329
board  = bcm4330
option = initrd
option = li_128mb
option = suspend_invalid
option = android
option = ext4
option = mmc
option = usb_ehci
option = island_sensors
