arch   = arm
family = island
chip   = 28160
board  = sv_28160_android
board  = bcm4329
board  = bcm4330
option = initrd
option = suspend_invalid
option = android_sv
option = ext4
option = mmc
