#
# Samsung Electronics Incell Touchscreen driver configuration
#

config TOUCHSCREEN_SEC_TS_INCELL
	tristate "Samsung Electronics Incell Touchscreen"
	depends on I2C
	help
	  Say Y here if you want support for SEC incell touchscreen controllers.
	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called sec_ts.
