[submodule "techpack/audio"]
	path = techpack/audio
	url = https://github.com/sonyxperiadev/kernel-techpack-audio.git
[submodule "techpack/data-kernel"]
	path = techpack/data-kernel
	url = https://github.com/sonyxperiadev/kernel-techpack-data-kernel.git
[submodule "drivers/staging/wlan-qc/fw-api"]
	path = drivers/staging/wlan-qc/fw-api
	url = https://github.com/sonyxperiadev/vendor-qcom-opensource-wlan-fw-api.git
[submodule "drivers/staging/wlan-qc/qcacld-3.0"]
	path = drivers/staging/wlan-qc/qcacld-3.0
	url = https://github.com/sonyxperiadev/vendor-qcom-opensource-wlan-qcacld-3.0.git
[submodule "drivers/staging/wlan-qc/qca-wifi-host-cmn"]
	path = drivers/staging/wlan-qc/qca-wifi-host-cmn
	url = https://github.com/sonyxperiadev/vendor-qcom-opensource-wlan-qca-wifi-host-cmn.git
