#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# Gator daemon Files
tools/gator/daemon/*.d
tools/gator/daemon/mxml/*.d
tools/gator/daemon/libsensors/*.d
tools/gator/daemon/configuration_xml.h
tools/gator/daemon/escape
tools/gator/daemon/events.xml
tools/gator/daemon/events_xml.h
tools/gator/daemon/gatord

#Gator driver Files
drivers/gator/gator_events.h

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
arch/arm/mach-rhea/include/mach/rdb
arch/arm/mach-hawaii/include/mach/rdb
arch/arm/mach-java/include/mach/rdb

#----- Start of generated portion
#
# Don't add any entries after here. This portion of the .gitignore
# is generated by the vc4-dev/src/host_support/linux/bcm-kernel-files.sh script
#
vc4-assumed-unchanged.sh
vc4-no-assumed-unchanged.sh
vc4-dev/src/interface/vchi/vchi_mh.h
vc4-dev/src/interface/vcos/generic/vcos_cmd.c
vc4-dev/src/interface/vcos/generic/vcos_common.h
vc4-dev/src/interface/vcos/generic/vcos_generic_event_flags.c
vc4-dev/src/interface/vcos/generic/vcos_generic_event_flags.h
vc4-dev/src/interface/vcos/generic/vcos_generic_named_sem.h
vc4-dev/src/interface/vcos/generic/vcos_generic_quickslow_mutex.h
vc4-dev/src/interface/vcos/generic/vcos_generic_reentrant_mtx.h
vc4-dev/src/interface/vcos/generic/vcos_joinable_thread_from_plain.h
vc4-dev/src/interface/vcos/generic/vcos_logcat.c
vc4-dev/src/interface/vcos/generic/vcos_mem_from_malloc.c
vc4-dev/src/interface/vcos/generic/vcos_mem_from_malloc.h
vc4-dev/src/interface/vcos/linuxkernel/stdint.h
vc4-dev/src/interface/vcos/linuxkernel/vcos_linuxkernel.c
vc4-dev/src/interface/vcos/linuxkernel/vcos_linuxkernel_cfg.c
vc4-dev/src/interface/vcos/linuxkernel/vcos_linuxkernel_misc.c
vc4-dev/src/interface/vcos/linuxkernel/vcos_mod_init.c
vc4-dev/src/interface/vcos/linuxkernel/vcos_platform.h
vc4-dev/src/interface/vcos/linuxkernel/vcos_platform_types.h
vc4-dev/src/interface/vcos/linuxkernel/vcos_thread_map.c
vc4-dev/src/interface/vcos/linuxkernel/vcos_thread_map.h
vc4-dev/src/interface/vcos/vcos.h
vc4-dev/src/interface/vcos/vcos_assert.h
vc4-dev/src/interface/vcos/vcos_atomic_flags.h
vc4-dev/src/interface/vcos/vcos_build_info.h
vc4-dev/src/interface/vcos/vcos_cfg.h
vc4-dev/src/interface/vcos/vcos_cmd.h
vc4-dev/src/interface/vcos/vcos_ctype.h
vc4-dev/src/interface/vcos/vcos_event.h
vc4-dev/src/interface/vcos/vcos_event_flags.h
vc4-dev/src/interface/vcos/vcos_genversion
vc4-dev/src/interface/vcos/vcos_init.h
vc4-dev/src/interface/vcos/vcos_logging.h
vc4-dev/src/interface/vcos/vcos_lowlevel_thread.h
vc4-dev/src/interface/vcos/vcos_mem.h
vc4-dev/src/interface/vcos/vcos_mutex.h
vc4-dev/src/interface/vcos/vcos_named_semaphore.h
vc4-dev/src/interface/vcos/vcos_once.h
vc4-dev/src/interface/vcos/vcos_quickslow_mutex.h
vc4-dev/src/interface/vcos/vcos_reentrant_mutex.h
vc4-dev/src/interface/vcos/vcos_semaphore.h
vc4-dev/src/interface/vcos/vcos_stdint.h
vc4-dev/src/interface/vcos/vcos_string.h
vc4-dev/src/interface/vcos/vcos_thread.h
vc4-dev/src/interface/vcos/vcos_thread_attr.h
vc4-dev/src/interface/vcos/vcos_timer.h
vc4-dev/src/interface/vcos/vcos_tls.h
vc4-dev/src/interface/vcos/vcos_types.h
vc4-dev/src/interface/vchiq_arm/vchiq.h
vc4-dev/src/interface/vchiq_arm/vchiq_arm.c
vc4-dev/src/interface/vchiq_arm/vchiq_arm.h
vc4-dev/src/interface/vchiq_arm/vchiq_cfg.h
vc4-dev/src/interface/vchiq_arm/vchiq_core.c
vc4-dev/src/interface/vchiq_arm/vchiq_core.h
vc4-dev/src/interface/vchiq_arm/vchiq_if.h
vc4-dev/src/interface/vchiq_arm/vchiq_ioctl.h
vc4-dev/src/interface/vchiq_arm/vchiq_kern_lib.c
vc4-dev/src/interface/vchiq_arm/vchiq_shim.c
vc4-dev/src/interface/vchiq_arm/vchiq_util.c
vc4-dev/src/interface/vchiq_arm/vchiq_bi.h
vc4-dev/src/interface/vchiq_arm/vchiq_bi_arm.c
vc4-dev/src/interface/vchiq_arm/vchiq_bivcm.h
vc4-dev/src/interface/vchiq_arm/vchiq_bivcm_arm.c
vc4-dev/src/interface/vchiq_arm/vchiq_memdrv.h
vc4-dev/src/interface/vchiq_arm/vchiq_memdrv_hana.c
vc4-dev/src/interface/vchiq_arm/vchiq_util.h
vc4-dev/src/vcinclude/common.h
vc4-dev/src/vcinclude/vc_debug_sym.h
vc4-dev/src/vcinclude/bigisland_chip/ipc_shared_mem.h
include/linux/videocore/Kbuild
include/linux/videocore/vc_mem.h
drivers/misc/vc04_services/vc_mem/vc_mem.c
include/linux/videocore/vc_dnfo.h
drivers/misc/vc04_services/vc_dnfo/vc_dnfo.c
include/linux/videocore/vc_omx.h
drivers/misc/vc04_services/vc_omx/vc_omx.c
include/linux/videocore/vc_hnfo.h
drivers/misc/vc04_services/vc_hnfo/vc_hnfo.c
include/linux/videocore/vc_ovl.h
drivers/misc/vc04_services/vc_ovl/vc_ovl.c
drivers/misc/vc04_services/vmcs_fb/vmcs_fb.c
drivers/misc/vc04_services/vmcs_fb/vc_fb_defs.h
drivers/misc/vc04_services/vmcs_fb/vc_vchi_fb.h
drivers/misc/vc04_services/vmcs_fb/vc_vchi_fb.c
include/linux/videocore/vmcs_sm_ioctl.h
drivers/misc/vc04_services/vmcs_sm/vmcs_sm.c
drivers/misc/vc04_services/vmcs_sm/vc_sm_defs.h
drivers/misc/vc04_services/vmcs_sm/vc_vchi_sm.h
drivers/misc/vc04_services/vmcs_sm/vc_vchi_sm.c
