ARCH=arm
BRANCH=android-bcm-tetra-3.10
CROSS_COMPILE=arm-eabi-
DEFCONFIG=tetra_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/bcm-sony-cw
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-eabi-4.8/bin
FILES="
arch/arm/boot/dts/java_sony_brooks_020.dtb
arch/arm/boot/zImage-dtb
vmlinux
System.map
"
