/* Copyright (c) 2015-2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
        kirin_batterydata: qcom,battery-data {
                qcom,batt-id-range-pct = <17>;
                #include "fg-gen3-batterydata-kirin-send-4245mv.dtsi"
                #include "fg-gen3-batterydata-kirin-send-4297mv.dtsi"
                #include "fg-gen3-batterydata-kirin-send-4335mv.dtsi"
                #include "fg-gen3-batterydata-kirin-send-4380mv.dtsi"
                #include "fg-gen3-batterydata-kirin-tdk-4250mv.dtsi"
                #include "fg-gen3-batterydata-kirin-tdk-4297mv.dtsi"
                #include "fg-gen3-batterydata-kirin-tdk-4335mv.dtsi"
                #include "fg-gen3-batterydata-kirin-tdk-4380mv.dtsi"
        };
};

&pm660_charger {
	qcom,fcc-max-ua = <400000>;
	qcom,fv-max-uv = <4000000>;
        somc,thermal-fcc-ua = <2484000  2484000 2484000
                                2484000 2484000 2484000
                                2484000 2484000 2484000
                                2484000 2484000 2484000
				2484000 0 0>;
        somc,thermal-lo-volt-icl-ua = <2000000  1500000 1500000
                                        1500000 1300000 1100000
                                        1100000 1000000  900000
                                         900000  500000  200000
                                         100000       0       0>;
        somc,thermal-hi-volt-icl-ua = <1700000  1700000 1700000
                                        1700000 1500000 1500000
                                        1000000 1000000 1000000
                                         600000  500000  200000
                                         100000        0      0>;
	somc,fake-charging-temp-level = <13>;
        somc,product-icl-ua = <2000000>;
        somc,high-voltage-icl-ua = <1700000>;
	qcom,hvdcp-disable;
	qcom,prechg-safety-time = <1>;
	qcom,fastchg-safety-time = <2>;
	qcom,otg-cl-ua = <500000>;
};

&pm660_pdphy {
	qcom,default-sink-caps = <5000 2000>, /* 5V @ 2A */
				 <9000 1700>; /* 9V @ 1.7A */
};

&pm660_rradc {
	somc,reg-cfg =
	/* addr mask value */
		<0x83 0x07 0x04>, /* FG_ADC_RR_AUX_THERM_CFG */
		<0x88 0xFF 0xB6>, /* FG_ADC_RR_AUX_THERM_C1 */
		<0x89 0xFF 0x2D>, /* FG_ADC_RR_AUX_THERM_C2 */
		<0x8A 0xFF 0xE5>, /* FG_ADC_RR_AUX_THERM_C3 */
		<0x8B 0xFF 0xA0>; /* FG_ADC_RR_AUX_THERM_HALF_RANGE */
};

&pm660_fg {
	qcom,battery-data = <&kirin_batterydata>;
	qcom,fg-sys-term-current = <(-175)>;
	qcom,fg-chg-term-current = <150>;
	somc,jeita-step-use-real-temp;
	somc,jeita-batt-temp-correction = <0>;
//	somc,jeita-aux-temp-correction = <0>;
};
