/* Copyright (c) 2016-2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "sdm630-nile_pinctrl.dtsi"

/ {
	qcom,sensor-information {
		sensor_information20: qcom,sensor-information-20 { /* msm_therm */
			qcom,sensor-type =  "adc";
			qcom,sensor-name = "msm_therm";
			qcom,scaling-factor = <10>;
		};
		sensor_information21: qcom,sensor-information-21 { /* quiet_therm */
			qcom,sensor-type =  "adc";
			qcom,sensor-name = "quiet_therm";
			qcom,alias-name = "bl_therm";
			qcom,scaling-factor = <10>;
		};
		sensor_information22: qcom,sensor-information-22 { /* ufs_therm */
			qcom,sensor-type = "adc";
			qcom,sensor-name = "ufs_therm";
			qcom,scaling-factor = <10>;
		};
		sensor_information23: qcom,sensor-information-23 { /* flash_therm */
			qcom,sensor-type = "adc";
			qcom,sensor-name = "flash_therm";
			qcom,scaling-factor = <10>;
		};
		sensor_information24: qcom,sensor-information-24 { /* xo_therm */
			qcom,sensor-type = "adc";
			qcom,sensor-name = "xo_therm";
		};
		sensor_information25: qcom,sensor-information-25 { /* pa_therm2 */
			qcom,sensor-type = "adc";
			qcom,sensor-name = "pa_therm2";
		};
		sensor_information26: qcom,sensor-information-26 { /* bms */
			qcom,sensor-type = "adc";
			qcom,sensor-name = "bms";
			qcom,alias-name = "batt_therm";
			qcom,scaling-factor = <1000>;
		};
	};
};

&qcom_seecom {
	qcom,commonlib64-loaded-by-uefi;
};

&soc {
	egistec {
		compatible = "etspi,et510";
		spi-max-frequency = <1000000>;
		et516_vcc-supply = <&pm660l_l6>;
		input-device-name = "et510";
		interrupt-parent = <&tlmm>;
		interrupts = <72 0x0>;
		egis,reset-gpio    = <&tlmm 20 0>;
		egis,irq-gpio      = <&tlmm 72 0>;
	};

	fpc1020 {
		status = "ok";
		compatible = "fpc,fpc1020";
		interrupt-parent = <&tlmm>;
		interrupts = <72 0x0>;
	fpc,gpio_rst    = <&tlmm 20 0x0>;
	fpc,gpio_irq    = <&tlmm 72 0x0>;
		vdd_ana-supply = <&pm660l_l6>;
	fpc,enable-on-boot;
	fpc,enable-wakeup;

	pinctrl-names = "fpc1020_reset_reset",
		"fpc1020_reset_active",
		"fpc1020_irq_active";

	pinctrl-0 = <&msm_gpio_20>;
	pinctrl-1 = <&msm_gpio_20_output_high>;
	pinctrl-2 = <&msm_gpio_72>;
	};

	sim_detect {
		compatible = "sim-detect";

		sim1_det {
			label = "sim-detection";
			gpios = <&tlmm 90 0x1>;
			debounce-interval = <10>;
		};

		sim2_det {
			label = "sim2-detection";
			gpios = <&tlmm 86 0x1>;
			debounce-interval = <10>;
		};
	};
};
