#
# System Type
#
CONFIG_BCM_ZRELADDR=0x80208000

#
# Broadcom KONA architecture based implementations
#
CONFIG_BCM_PARAMS_PHYS=0x80200000
CONFIG_BCM_RAM_BASE=0x80000000
CONFIG_BCM_RAM_START_RESERVED_SIZE=0x200000

#
# Island SoC based Machine types
#
CONFIG_MACH_ISLAND_TABLET_28160=y

#
# Some wireless drivers require a rate control algorithm
#
CONFIG_RFKILL=y
CONFIG_RFKILL_PM=y
CONFIG_RFKILL_LEDS=y

#
# Device Drivers
#
CONFIG_BRCM_VIRTUAL_SENSOR=y
CONFIG_SENSORS_BH1715=m
CONFIG_BMP18X=m
CONFIG_BMP18X_I2C=m
CONFIG_SENSORS_BMA150=m
CONFIG_SENSORS_MPU3050=m
CONFIG_MONITOR_ADC121C021_I2C=m

#
# Frame buffer hardware drivers
#
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y

CONFIG_BCM_GPS=y
CONFIG_BCM_GPS_UART=3

CONFIG_TOUCHSCREEN_EGALAX_I2C=y

CONFIG_BCM_HAPTICS=m

CONFIG_VC_PLATFORM_DIR="vcfw/platform/broadcom/bcm911160-tablet"
