<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="LSM303DLH-API-Guide">
 <bookinfo>
  <title>LSM303DLH Accelerometer and Magnetometer</title>

  <authorgroup>
   <author>
    <firstname>Chethan Krishna</firstname>
    <surname>N</surname>
    <affiliation>
     <address>
      <email>chethan.krishna@stericsson.com</email>
     </address>
    </affiliation>
   </author>
   </authorgroup>

  <copyright>
   <year>2010</year>
   <holder>ST-Ericsson</holder>
  </copyright>

  <subjectset>
    <subject>
      <subjectterm>Linux standard functions</subjectterm>
    </subject>
  </subjectset>

  <legalnotice>
   <para>
     License terms: GNU General Public License (GPL) version 2.
   </para>

   </legalnotice>
 </bookinfo>

<toc></toc>

  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This documentation describes the accelerometer and magnetometer drivers for lsm303dlh sensor chip.
    </para>
    </chapter>

  <chapter id="bugs">
     <title>Known Bugs And Assumptions</title>
  <para>
     <variablelist>
     <varlistentry>
       <term>None</term>
       <listitem>
         <para>
		None.
           </para>
       </listitem>
     </varlistentry>
     </variablelist>
  </para>
  </chapter>

  <chapter id="pubfunctions">
     <title>Public Functions Provided</title>
     <para>
	This accelerometer/magnetometer drivers don't export any functions.
     </para>
  </chapter>

  <chapter id="structs">
     <title>Structures</title>
     <para>
     This chapter contains the autogenerated documentation of the structures which are
     used in the accelerometer/magnetometer drivers.
     </para>
!Iinclude/linux/lsm303dlh.h
  </chapter>

  <chapter id="intfunctions">
     <title>Internal Functions Provided</title>
     <para>
     This chapter contains the autogenerated documentation of the internal functions.
     </para>
!Idrivers/hwmon/lsm303dlh_a.c
!Idrivers/hwmon/lsm303dlh_m.c
  </chapter>

  </book>
