if ARCH_JAVA

menu	"Java SoC based Machine types"
	depends on ARCH_JAVA

choice
	prompt "Choose Java SOC Silicon Version"

config	ARCH_JAVA_A0
	bool "Java SOC Version - A0"

endchoice

choice
	prompt "Java SoC based board type"

config	MACH_JAVA_FPGA
	bool "MACH_JAVA_FPGA"
        select MACH_BCM_FPGA
	help
	  "This config option will enable support
	  for FPGA platform like Chip-it where CCU is absent."

config	MACH_JAVA_FPGA_E
	bool "MACH_JAVA_FPGA_E"
        select MACH_BCM_FPGA_E
	help
	  "This config option will enable support for
	  FPGA platform like Eve where CCU is present."

config	MACH_JAVA_RAY
	bool "MACH_JAVA_RAY"
	select MACH_BCM_RAY
	help
	  Support for the Broadcom Hawaii Ray board.

config	MACH_JAVA_STONE
		bool "MACH_JAVA_STONE"
	select MACH_BCM_STONE
	help
	  Support for the Broadcom Hawaii Stone board.

config	MACH_JAVA_GARNET
		bool "MACH_JAVA_GARNET"
	select MACH_BCM_GARNET
	help
	  Support for Broadcom Hawaii garnet board.

config	MACH_JAVA_SS_EVAL
		bool "MACH_JAVA_SS_EVAL"
	select MACH_BCM_SS_EVAL
	help
	  Support for Broadcom Hawaii ss eval board.

endchoice

choice
	prompt "Java GARNET type"
	depends on MACH_JAVA_GARNET
	default MACH_JAVA_GARNET_EDN000

	config MACH_JAVA_GARNET_EDN000
	bool "GARNET EDN000"
	help
	  Support for Garnet edn000

	config MACH_JAVA_GARNET_C_EDN000
	bool "GARNET CHINA EDN000"
	help
	  Support for Garnet china edn000

	config MACH_JAVA_C_5606
	bool "GARNET CHINA 5606"
	help
	  Support for Garnet china 5606

	config MACH_JAVA_C_5609A
	bool "Java CHINA 5609A"
	help
	  Support for Java
	  china 5609a. Platform
	  for china
	  customer

	config MACH_JAVA_C_A18
		bool "JAVA GARNET A18"
	help
		Support for Java Garnet A18

	config MACH_JAVA_C_LC1
	bool "Java low cost platform 1"
	help
	  Support for Java low
	  cost platform 1. Reference
	  platform for China
	  customers

	config MACH_JAVA_C_LC2
	bool "Java low cost platform 2"
	help
	  Support for Java low cost platform 2

	config MACH_JAVA_C_LC2
	bool "Java low cost platform 2"
	help
	  Support for Java low cost platform 2

endchoice

choice
	prompt "Java SS EVAL type"
	depends on MACH_JAVA_SS_EVAL
	default MACH_JAVA_SS_EVAL_REV00

	config MACH_JAVA_SS_EVAL_REV00
	bool "SS EVAL REV00"
	help
	  Support for SS Eval Rev00

endchoice

choice
	prompt "Java FPGA type"
	depends on MACH_BCM_FPGA || MACH_BCM_FPGA_E

config	MACH_JAVA_FPGA_PERI_V1
	bool "MACH_JAVA_FPGA_PERI_V1"
	select MACH_BCM_FPGA_PERI_V1
	help
	  "Support Following BSP FPGA Images :
	  HAWAII_Peri_v1.0.0
	  HAWAII_Peri_v1.0.1
	  Hawaii_PERI_FREEZE_1p52_16APR2012_v2.0.0"

config	MACH_JAVA_FPGA_MM_V1
	bool "MACH_JAVA_FPGA_MM_V1"
	select MACH_BCM_FPGA_MM_V1
	help
	  "Support Following MM FPGA Images :
          HAWAII_MM_v1.0.0
          HAWAII_MM_v2.0.0
          HAWAII_MM_v2.0.0_fix"

config	MACH_JAVA_FPGA_USB_V1
	bool "MACH_JAVA_FPGA_USB_V1"
	select MACH_BCM_FPGA_USB_V1
	help
	  "Support Following USB FPGA Images :
	  HAWAII_USB_v2.0.0
endchoice

config	IGNORE_DAP_POWERUP_REQ
	bool "Ignore Powerup request from DAP"
	depends on KONA_POWER_MGR
	default n
	help
	  Say Y to ignore powerup request from DAP. So, the power domains will
	  continue to be in their state. If this is not set, on attaching JTAG
	  PI policy will change to 7 always. This feature enables the system to
	  retain the states as is, even after attaching JTAG.

config	HAWAII_L2X0_PREFETCH
	bool "Enable L2 cache prefetching for Hawaii platform"
	default n
	help
	  Say Y if you want to enable L2 cache prefetching
	  for the Hawaii platform. This enables both, data and
	  instruction prefetching that have been shown to improve
	  performance especially in multimedia use cases.

config	DELAYED_PM_INIT
	depends on ARCH_JAVA
	bool "Enable support for delayed PM init."
	default n
	help
	  Say Y if you want to enable support for delayed PM init. Android/user
	  space can complete the PM init by writing to sysfs. Once this trigger
	  is recieved, all the PIs start changing policies, arm can enter LPM and
	  arm dfs is allowed.

config	PWRMGR_1P2GHZ_OPS_SET_SELECT
	depends on ARCH_JAVA && KONA_POWER_MGR
	bool "Reconfigure the pll for OPS set with Turbo at 1.2GHz"
	default n
	help
	  Say Y if you want to reconfigure the pll for Turbo at 1.2G. All other
	  ops gets adjusted accordingly. If this is not selected,
	  default OPP set is with Turbo at 1GHz.

config KONA_AVS
       bool "Enable AVS driver"
       default y
       help
	Say Y if you want to enable AVS driver
	AVS driver helps pick the correct voltage table
	by identifying the silicon type thereby saving
	power by giving only reqd voltage & not excess.


config	PI_MGR_MM_STURBO_ENABLE
	depends on ARCH_JAVA && KONA_PI_MGR
	bool "Enable super turbo OPP for MM Power Island"
	default n
	help
	  Say Y to enable super turbo DFS OPP for MM power Island
	  MM super turbo OPP frequency is set to 312MHz. Total 4
	  OPPs will be defined for MM if the support is enabled

config	MM_312M_SOURCE_CLK
	depends on ARCH_JAVA && KONA_PI_MGR
	bool "Derive MM AXI clock from 312MHz"
	default n
	help
	  Say Y to switch MM AXI source clock to 312MHz
	  OPPs will be 104, 156, 208, 312Mhz
	  500MHz clock source will be used otherwise
	  OPPs will be 83, 166, 250, 312Mhz

config	PWRMGR_DUMMY_SEQUENCER
	bool "Use dummy PWRMGR HW I2C sequencer"
	default n
	help
	  Say Y if you want to use dummy PWRMGR HW I2C sequencer

config	KONA_PMU_BSC_CLKPAD_CTRL
	bool "Kona PMU_BSC CLKPAD Control feature"
	depends on MFD_BCM_PWRMGR_SW_SEQUENCER
	default y
	help
	   Enable to save the leakage current due to BSC CLKPAD. If enabled
	   Sequencer will disable the PMU BSC CLK pad at the end of each
	   i2c transaction which will save the leakage current on the pad pi

config MM_V3D_TIMEOUT_ERRATUM
	bool "Enable MM V3D timeout erratum workaround"
	default y
	help
	 Say Y to enable MM V3D timeout(HWHAWAII-207) workaround
	 Refer JIRA DB for more info

config PLL1_8PHASE_OFF_ERRATUM
	bool "Enable workaround for PLL1 8phase off erratum"
	default y
	help
	 Say Y to enable workaround for PLL1 8phase off erratum (HWHAWAII-73)
	 Refer JIRA DB for more info

config MM_POWER_OK_ERRATUM
	bool "Enable MM power ok mask erratum workaround"
	default y
	help
	 Say Y to enable workaround for MM power ok mask erratum(HWRHEA-2272)
	 Refer JIRA DB for more info

config MM_FREEZE_VAR500M_ERRATUM
	bool "Disable autogating for Varvdd500M clock to resolve MM freeze"
	default y
	help
	 Say Y to enable workaround for MM freeze with varvdd500 autogating
	 enabled erratum(HWHAWAII-73)
	 Refer JIRA DB for more info

config A7_PLL_PWRDWN_ERRATUM
	bool "Disable A7 PLL pwrdwn while swicthing from A7 PLL to 312Mhz PLL"
	default y
	help
	 Say Y to disable A7 pll pwrdwn during frequency switching.
	 The work around is for avoiding freeze while switching from A7 PLL to
	 the 312Mhz PLL. While s/w to 312Mhz, the A7 PLL gets auto powered down,
	 before s/w process is complete, thereby resulting in a freeze.
	 WA will disable pwrdwn while switching is in progress and enable later.
	 Refer to JIRA DB for more information.

config	HAWAIILC_2093
	bool "Enable HawaiiLC&2093"
	default n
        help
           Enable HawaiiLC&2093.

config	PI_MGR_DISABLE_POLICY_CHANGE
	bool "Enable debug flag to disable PI policy change by default"
	depends on KONA_PI_MGR
	default n
	help
	  Debug flag to diable PI policy change by default. All PI
	  policy will be set to wakeup policy 7


config	CDEBUGGER
	depends on ARCH_JAVA
	bool "Enable Ramdump dump Feature on Hawaii"
	default n

config	59055_SIM_EM_SHDWN
	bool "Enable Emergency SIM shutdown"
	default n
	help
	  For 59055 supported emergency sim shutdown

config CPU_SYSPLL_WFI_CSTATE
	bool "Enable CPU WFI idle state using system PLL"
	default n
	help
	 Option to enable special ARM WFI cpuidle state.
	 PROC policy is changed to use FID 0-4 which comes
	 from system PLL when all the cores are in this
	 state. This way, ARM internal PLL can be turned
	 off to save power.

config DORMANT_MODE
	bool "Enable dormant state"
	depends on BRCM_CDC
	help
	Option to enable dormant state for cpuidle and suspend.
	Dormant mode results in PROC CCU domain voltage
	being shutoff, resulting in better power
	savings during idle.

config KONA_SECURE_MONITOR_CALL
	bool "Execute in non-secure mode using Kona secure monitor"
	default y
	help
	  Select this option if you are running with a bootloader that
	  has configured the ARM to run in non-secure mode and provides
	  a secure monitor implementation to access secure registers
	  and peripherals.

config HAWAII_PTM
	bool "Enable PTM"
	depends on ARCH_KONA
	select ARM_AMBA
	select OC_ETM
	help
	  Say Y here to enable PTM hardware on hawaii.

config BRD_NAME
	string "customer board name"
	default "java"

config DISABLE_USBBOOT_NEXTBOOT
	bool "Disable USB Boot in the next boot"
	depends on ARCH_JAVA
	default y
	help
	  During Java Bringup when we tried reboot, during the next
          boot the BootROM was detecting USB and was never timing out
          This could be because the BIT 29 of usbotgcontrol register
          was wrongly set to 1. Until we root cuase this and fix it
          We can enable this workaround only for JAVA

config USE_ARCH_TIMER_AS_LOCAL_TIMER
	bool "Use Architecture Timer as Local Timer"
	depends on ARCH_JAVA && ARM_ARCH_TIMER
	default n
	help
	  Use the Architecture Timer as Local Timer. When the CPU enters
	  C3 state, the event timer will be automatically migrated from
	  local timer another event timer that ca be alive during C3 state
	  as well. If you are not sure say N

endmenu

endif
