config BCM4330
	tristate "Broadcom 4330 wireless cards support"
	depends on WLAN
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4330 chipset.
	  This driver uses the kernel's wireless extensions subsystem.
	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_FW_PATH_4330
	depends on BCM4330
	string "Firmware path"
	default "/system/vendor/firmware/fw_wifi_4330.bin"
	---help---
	  Path to the firmware file.

config BCMDHD_NVRAM_PATH_4330
	depends on BCM4330
	string "NVRAM path"
	default "/system/vendor/firmware/fw_wifi_nvram_4330.txt"
	---help---
	  Path to the calibration file.






	  
