config QNS_SYSTEM
	bool "Qnovo QNS wrapper implementation"
	default n
	help
	  Say Y here to enable support for QNS system.
	  QNS is a battery charging controller and it necessary to access a
	  kernel driver for a battery charging.
	  This adds sysfs interface which enables QNS daemon to access it.

config CHARGER_LIS2XXX
	tristate "LIS2xxx Battery Charger driver"
	depends on I2C
	help
	  Say Y to include support for LIS2xxx Battery Charger.

config BATTERY_CCG2
	tristate "CCG2 driver"
	depends on I2C
	help
	  Say Y to include support for CCG2 driver.

source "drivers/power/avs/Kconfig"
source "drivers/power/reset/Kconfig"
source "drivers/power/supply/Kconfig"
source "drivers/power/qcom/Kconfig"
