/* arch/arm64/boot/dts/qcom/msm8998-yoshino-common.dtsi
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/*
 * Copyright (C) 2016 Sony Mobile Communications Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2, as
 * published by the Free Software Foundation.
 */



	qcom,cci@ca0c000 {
		qcom,i2c_fast_mode {
			qcom,hw-thigh = <43>;
			qcom,hw-tlow = <64>;
			qcom,hw-tsu-sto = <41>;
			qcom,hw-tsu-sta = <41>;
			qcom,hw-thd-dat = <25>;
			qcom,hw-thd-sta = <35>;
			qcom,hw-tbuf = <64>;
			qcom,hw-scl-stretch-en = <0>;
			qcom,hw-trdhld = <6>;
			qcom,hw-tsp = <3>;
			qcom,cci-clk-src = <37500000>;
			status = "ok";
		};

		qcom,i2c_fast_plus_mode {
			qcom,hw-thigh = <16>;
			qcom,hw-tlow = <22>;
			qcom,hw-tsu-sto = <17>;
			qcom,hw-tsu-sta = <18>;
			qcom,hw-thd-dat = <16>;
			qcom,hw-thd-sta = <15>;
			qcom,hw-tbuf = <19>;
			qcom,hw-scl-stretch-en = <1>;
			qcom,hw-trdhld = <3>;
			qcom,hw-tsp = <3>;
			qcom,cci-clk-src = <37500000>;
			status = "ok";
		};
		qcom,camera@0 {
			cell-index = <0>;
			compatible = "qcom,sony_camera_0";
			reg = <0x0>;
			interrupt-parent = <&tlmm>;
			interrupts = <96 0x0>;
			status = "ok";
			qcom,slave-id = <0x20 0x0 0x0000>;
			qcom,csiphy-sd-index = <0>;
			qcom,csid-sd-index = <0>;
			qcom,mount-angle = <0>;
			qcom,sensor-name = "sony_camera_0";
			cam_vaf-supply = <&pm8998_l19>;
			cam_vio_gpio-supply = <&cam_vio_verg>;
			cam_vdig_gpio-supply = <&cam_vdig_rear_verg>;
			qcom,cam-vreg-name = "cam_vaf", "cam_vio_gpio", "cam_vdig_gpio";
			qcom,cam-vreg-type = <0 0 0>;
			qcom,cam-vreg-min-voltage = <2700000 0 0>;
			qcom,cam-vreg-max-voltage = <2700000 0 0>;
			qcom,cam-vreg-op-mode = <300000 0 0>;
			qcom,gpio-no-mux = <0>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <&cam_sensor_mclk0_active &cam_sensor_rear_active>;
			pinctrl-1 = <&cam_sensor_mclk0_suspend &cam_sensor_rear_suspend>;
			gpios = <&tlmm 13 0>, <&tlmm 30 0>;
			qcom,gpio-reset = <1>;
			qcom,gpio-req-tbl-num = <0 1>;
			qcom,gpio-req-tbl-flags = <1 0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET0";
			qcom,csi-lane-assign = <0x4320>;
			qcom,csi-lane-mask = <0x1F>;
			qcom,sensor-position = <0>;
			qcom,sensor-mode = <1>;
			qcom,cci-master = <0>;
			clocks = <&clock_mmss clk_mclk0_clk_src>, <&clock_mmss clk_mmss_camss_mclk0_clk>;
			clock-names = "cam_src_clk", "cam_clk";
			qcom,clock-rates = <24000000 0>;
			sony,i2c_addr = <0x20>;
			sony,eeprom_addr = <0xA2>;
			sony,eeprom_type = <2>;
			sony,eeprom_max_len = <2048>;
			sony,gpio_af = <0>;
			sony,subdev_code = <0x3007>;
			sony_camera_module_0: sony,camera_modules {
				status = "disabled";
			};
		};
		qcom,camera@1 {
			cell-index = <1>;
			compatible = "qcom,sony_camera_1";
			reg = <0x1>;
			interrupt-parent = <&tlmm>;
			status = "ok";
			qcom,slave-id = <0x6c 0x0 0x0000>;
			qcom,csiphy-sd-index = <2>;
			qcom,csid-sd-index = <2>;
			qcom,mount-angle = <270>;
			qcom,sensor-name = "sony_camera_1";
			cam_vio-supply = <&pm8998_lvs1>;
			cam_vdig-supply = <&pm8998_s3>;
			cam_vaf-supply = <&pm8998_l22>;
			cam_vio_gpio-supply = <&cam_vio_verg>;
			cam_vdig_gpio-supply = <&cam_vdig_front_verg>;
			qcom,cam-vreg-name = "cam_vio", "cam_vaf", "cam_vdig", "cam_vio_gpio", "cam_vdig_gpio";
			qcom,cam-vreg-type = <1 0 0 0 0>;
			qcom,cam-vreg-min-voltage = <0 2700000 1352000 0 0>;
			qcom,cam-vreg-max-voltage = <0 2700000 1352000 0 0>;
			qcom,cam-vreg-op-mode = <0 150000 105000 0 0>;
			qcom,gpio-no-mux = <0>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <&cam_sensor_mclk1_active &cam_sensor_front_active>;
			pinctrl-1 = <&cam_sensor_mclk1_suspend &cam_sensor_front_suspend>;
			gpios = <&tlmm 14 0>, <&tlmm 28 0>;
			qcom,gpio-reset = <1>;
			qcom,gpio-req-tbl-num = <0 1>;
			qcom,gpio-req-tbl-flags = <1 0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK2", "CAM_RESET2";
			qcom,csi-lane-assign = <0x4320>;/* NONE */
			qcom,csi-lane-mask = <0x1F>;    /* NONE */
			qcom,sensor-position = <1>;
			qcom,sensor-mode = <1>;
			qcom,cci-master = <1>;
			clocks = <&clock_mmss clk_mclk1_clk_src>, <&clock_mmss clk_mmss_camss_mclk1_clk>;
			clock-names = "cam_src_clk", "cam_clk";
			qcom,clock-rates = <24000000 0>;
			sony,i2c_addr = <0x34>;
			sony,eeprom_addr = <0xA0>;
			sony,eeprom_type = <0>;
			sony,eeprom_max_len = <2048>;
			sony,gpio_af = <0>;
			sony,subdev_code = <0x3007>;
			sony_camera_module_1: sony,camera_modules {
				status = "disabled";
			};
		};
	};
