config BCMDHD
	tristate "Broadcom 43xx wireless cards support"
	depends on MMC && CFG80211
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 43xx chipset.
	  This driver uses the kernel's cfg80211 subsystem.
	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

choice
	prompt "Select Broadcom wireless card"
	depends on BCMDHD
	default BCM4339

config BCM4339
	bool "Broadcom 4339 wireless card support"
	depends on BCMDHD
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4339 chipset.

config BCM4354
	bool "Broadcom 4354 wireless card support"
	depends on BCMDHD
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4354 chipset.

endchoice

config BCMDHD_FW_PATH
	depends on BCMDHD
	string "Firmware path"
	default "/system/etc/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCMDHD_NVRAM_PATH
	depends on BCMDHD
	string "NVRAM path"
	default "/system/etc/wifi/bcmdhd.cal"
	---help---
	  Path to the calibration file.

config BROADCOM_WIFI_RESERVED_MEM
	bool "BROADCOM Reserved memory for wifi device"
	depends on BCMDHD
	default y
	---help---
	  This is a configuration for broadcom WLAN driver.

config BCMDHD_INSMOD_NO_FW_LOAD
	bool "Disable BROADCOM firmware load"
	depends on BCMDHD
	default y
	---help---
	  This is a configuration for broadcom WLAN driver.
