menu	"Rhea SoC based Machine types"
	depends on ARCH_RHEA

choice
	prompt "Rhea SoC based board type"
	default MACH_RHEA_RAY

config MACH_RHEA_RAY
	bool "Support Broadcom Rhea Ray board"
	help
	  Support for the Broadcom Rhea Ray board.

config MACH_RHEA_RAY_EDN1X
	bool "Support Broadcom Rhea Ray EDN1X board"
	help
	  Support for the Broadcom Rhea Ray EDN1X board.

config MACH_RHEA_DALTON
	bool "Support Nokia Dalton board"
	help
	  Support for the Nokia Dalton board.
	  This will be based on RheaLC program and
	  form one of the platforms for Nokia.
	  Rhea plus delta RF modules.

config MACH_HERA_RAY
        bool "Support Broadcom Hera Ray board"
        help
          Support for the Broadcom Hera Ray board.

config MACH_RHEA_BERRI
        bool "Support Broadcom Rhea Berri board"
        help
          Support for the Broadcom Rhea Berri board.

config MACH_RHEALC_BERRI
        bool "Support Broadcom RheaLC Berri board"
        help
          Support for the Broadcom RheaLC Berri board.

endchoice

config RHEA_DORMANT_MODE
       bool "Enable dormant mode support for Rhea platform"
       help
	Say Y if you want to enable dormant mode support for Rhea platform

config MACH_RHEA_SELFTEST
        bool "Selftest CSAPI"
	depends on MFD_BCM_PMU590XX
	default n
        help
          Selftest CSAPI support.

endmenu



