menu "Synaptics TCM Touch Support"

config TOUCHSCREEN_SYNAPTICS_TCM
	tristate "Synaptics TCM Touchscreen Driver"
	depends on SPI_MASTER && I2C
	default n
	help
	  Say Y here if you have a touchscreen interface using
	  the Synaptics TCM touch device.

config TOUCHSCREEN_SYNAPTICS_TCM_DIAG
	tristate "Synaptics TCM Diagnostics"
	depends on TOUCHSCREEN_SYNAPTICS_TCM
	default n
	help
	  Say Y here if you want to diagnose the Synaptics TCM.

config TOUCHSCREEN_SYNAPTICS_TCM_TST
	tristate "Synaptics TCM Factory Testing sysfs interface"
	depends on TOUCHSCREEN_SYNAPTICS_TCM
	default n
	help
	  Say Y here if you want to support factory testing
	  on the Synaptics TCM.

config TOUCHSCREEN_SYNAPTICS_TCM_FWUPG
	tristate "Synaptics TCM Firmware Flashing"
	depends on TOUCHSCREEN_SYNAPTICS_TCM
	default n
	help
	  Say Y here if you want to support flashing the
	  firmware on the Synaptics TCM.

endmenu
