config BCMDHD_43362_LINUX
	tristate "Broadcom 43362_LINUX DRIVER wireless cards support"
	depends on MMC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 43362_LINUX DRIVER chipset.
	  This driver uses the kernel's wireless extensions subsystem.
	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_LNX_FW_PATH
	depends on BCMDHD_43362_LINUX
	string "Firmware path"
	default "/system/vendor/firmware_lnx/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCMDHD_LNX_NVRAM_PATH
	depends on BCMDHD_43362_LINUX
	string "NVRAM path"
	default "/system/vendor/firmware_lnx/fw_wifi_nvram.txt"
	---help---
	  Path to the calibration file.

config BCMDHD_LNX_IF_PREFIX
	depends on BCMDHD_43362_LINUX
	string "Wireless interface prefix"
	default "wlan"
	---help---
	  Name of wireless interface. The default value is "wlan%d".
