config CPU_BCM2850
	bool
	select CPU_V7
	select ARM_GIC

config CPU_BCM2860
	bool
	select CPU_V7
	select ARM_GIC

if ARCH_KONA

menu	"KONA Machine types"

config	MACH_BCM2850_FPGA
	bool "Support for BCM2850 FPGA"
	depends on ARCH_KONA
	select CPU_BCM2850
	help
	  Platform code for BCM2850 FPGA

config 	MACH_BCM2850
	bool "Support for BCM2850"
	depends on ARCH_KONA
	select CPU_BCM2850
	help
	  Platform code for BCM2850 FPGA

config	MACH_BCM2860
	bool "Support for BCM2860"
	depends on ARCH_KONA
	select CPU_BCM2860
	help
	  Platform code for BCM2850 FPGA

endmenu

endif
