#
# Videocore kernel configuration
#

menuconfig BRCM_VIDEOCORE_SERVICES
	tristate "Broadcom VideoCore Services"
	depends on PROC_FS
	help
	  Broadcom's VideoCore related services modules

if BRCM_VIDEOCORE_SERVICES

config VC_VCOS
	tristate "VCHIQ OS Abstraction (vcos)"
	help
	  VCHIQ OS Abstraction (vcos) used by the vchiq code.

config VC_MEM
	tristate "Videocore Memory"
	default BRCM_VIDEOCORE_SERVICES
        help
          Helper for videocore memory access and total size allocation.

config VC_VCEB
	tristate "Videocore Boot"
	default BRCM_VIDEOCORE_SERVICES
	help
	  Legacy code still required for booting the videocore.

config VC_VCHIQ
	tristate "VCHIQ service module"
	default BRCM_VIDEOCORE_SERVICES
	help
	  VCHIQ kernel service module used by almost all other services.

config VC_VCHIQ_MEMDRV
	tristate "VCHIQ BUS Driver (internal videocore)"
	default y
	select VC_VCHIQ
        help
           Causes the vchiq stack used for communicating with
           internal videocores (via shared memory) to be compiled in.

config VC_VCHIQ_MEMDRV_KONA
	tristate "VCHIQ Internal Videocore (KONA)"
	depends on VC_VCHIQ_MEMDRV
	default y
        help
           Enables the internal videocore driver used on the Kona chip.

config VC_FB
	tristate "Videocore Frame Buffer"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT	
	default y
        help
          Support for the VC framebuffer on the Broadcom reference
          phone. Uses the VCHIQ stack.

config VC_SM
	tristate "VMCS Shared Memory"
	default m
        help
          Support for the VC shared memory on the Broadcom reference
          design. Uses the VCHIQ stack.

config VC_OVL
	tristate "Videocore Overlay"
	default n
        help
          Tracker for videocore overlay allocation, used in integration
          with Android for multimedia support.

config VC_OMX
	tristate "Videocore OpenMAX"
	default n
        help
          Tracker for videocore openmax capabilities, used in integration
          with Android for multimedia support of StageFright.

config VC_HNFO
	tristate "Videocore HDMI Information"
	default n
        help
          Tracker for videocore hdmi capabilities, used in integration
          with Android for multimedia support.

config VC_DNFO
	tristate "Videocore Display Information"
	default n
        help
          Tracker for videocore display capabilities, used in integration
          with Android.

endif	# BRCM_VIDEOCORE_SERVICES

