# SPDX-License-Identifier: GPL-2.0

config SM5038_WATER_DETECTION_ENABLE
	bool "Using sm5714 Type-C Water Detection"
	depends on I2C
	help
	  If you say yes here you will get support for
	  the SM5038 Type-C Water detection functions.

config SM5038_SUPPORT_SBU
	bool "Using sm5714 Type-C support sbu"
	depends on I2C
	help
	  If you say yes here you will get support for
	  the SM5038 Type-C support SBU.
