// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2017, The Linux Foundation. All rights reserved.
 */

&qupv3_se5_i2c {
	synaptics_clearpad@2c {
		preset_x_max = <1079>;
		preset_y_max = <2159>;

		panel = <&dsi_3>;
	};

	synaptics_tcm@3c {
		parent = <&dsi_7>;
	};
};
