#
# vmcs services module config
#

menuconfig BRCM_VIDEOCORE_SERVICES
	tristate "Broadcom VideoCore Services"
	depends on PROC_FS
	help
	  Broadcom's VideoCore related services modules

config BRCM_VIDEOCORE_ROOT
	string "Path to VideoCore Modules Directory"
	default "../../../../hardware/broadcom/videocore"
	depends on BRCM_VIDEOCORE_SERVICES
	help
	  This is required to tell the kernel where to pick up
	  the VideoCore modules from (relative or fixed paths are supported).
	  For all Android distributions, this will be fixed as above.

config BRCM_VIDEOCORE_VERSION
   string "VideoCore Processor Version"
   default "vc4"
   depends on BRCM_VIDEOCORE_SERVICES
   help
     This is required to tell the kernel which videocore variant we are.
     Revisions currently are vc3={2727}, vc4={2835,2763,2850}


config BRCM_VIDEOCORE_VCEB
	bool "VideoCore Early Boot Support"
	default BRCM_VIDEOCORE_SERVICES
	depends on BRCM_VIDEOCORE_SERVICES
	help
	  This is the early boot support for VideoCore (splash screen etc...)

config BRCM_VIDEOCORE_SANITIZED
	bool "BRCM VideoCore Santized Release"
	depends on BRCM_VIDEOCORE_SERVICES
	default n
	help
	  Switches between the sanitized release and the full software tree for VMCS-X

config VC_VCHIQ
	tristate "VCHIQ service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES
	help
	  VCHIQ kernel service module used by almost all other services.

config VC_GENCMD
	tristate "GENCMD service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES

config VC_CTL
	tristate "VC Control service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ

config VC_DISPMANX
	tristate "DISPMANX service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ
	help
	  Kernel module for DISPMAN-X service.

config VC_ILCS
	tristate "ILCS service module"
	depends on BRCM_VIDEOCORE_SERVICES && VC_FILESRV
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ

config VC_HOSTREQ
	tristate "HOSTREQ service module"
	depends on BRCM_VIDEOCORE_SERVICES 
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ

config VC_KHRONOS
	tristate "KHRONOS service module"
	depends on BRCM_VIDEOCORE_SERVICES 
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ

config VC_FILESRV
	tristate "FILE Server service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ

config VC_FILECLI
	tristate "File Client service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default BRCM_VIDEOCORE_SERVICES
	select VC_VCHIQ
	select VC_FILESRV

config VC_LOGSERVER
	tristate "Log Server service module"
	depends on BRCM_VIDEOCORE_SERVICES
	default n
	select VC_VCHIQ

config	BRCM_VMCS_FRAMEBUFFER 
	tristate "Videocore VMCS Framebuffer service module"
	depends on BRCM_VIDEOCORE_SERVICES && FB_VCEB
	default BRCM_VIDEOCORE_SERVICES
	select VC_DISPMANX
	help
	  Needed if you want Framebuffer console after VCHIQ is initialised or
	  if you want a framebuffer interface using VideoCore (Dispman - X) APIs.

config BRCM_VC_FB_DEFAULT_Z_ORDER
        int "Default z-order of the videocore framebuffer"
        depends on BRCM_VMCS_FRAMEBUFFER
        default -100
        help
          Sets the default z-order used by the videocore framebuffer.

config BRCM_VC_FB_BUS_CONNECTED_FB_UPDATE
        bool "Update framebuffer on videocore connect?"
        depends on BRCM_VMCS_FRAMEBUFFER
        default y
        help
          Causes a framebuffer update to occur when the videocore
          is connected.

config VC_VCHIQ_BUSDRV_2835
	tristate "2835 Bus Driver"
	depends on BRCM_VIDEOCORE_SERVICES
	default n

config VC_VCHIQ_BUSDRV_2850
   tristate "2850 Bus Driver"
   depends on BRCM_VIDEOCORE_SERVICES
   default n
