#
# vmcs services module config
#

menuconfig BRCM_MISC_DRIVERS
	tristate "Broadcom Misc Drivers"
	depends on PROC_FS
	help
	  Broadcom's VideoCore related drivers

config VC_GENCMD
	tristate "GENCMD Driver"
	depends on BRCM_MISC_DRIVERS
	default BRCM_MISC_DRIVERS

config BCM2835_TVINTF
	tristate "TV Interface Driver"
	depends on BRCM_MISC_DRIVERS
	default BRCM_MISC_DRIVERS

config BCM2708_SMI
	tristate "SMI Driver"
	depends on BRCM_MISC_DRIVERS
	default BRCM_MISC_DRIVERS
	help
		SMI driver required for Nand
        
config VC_CAMERA
	tristate "CAMERA Driver"
	depends on BRCM_MISC_DRIVERS
	default BRCM_MISC_DRIVERS
	help
		Camera driver based on VC IPC

config BCM_VCHIQ_VC04
        tristate "VC04 VCHIQ driver"
        depends on BRCM_MISC_DRIVERS
        default BRCM_MISC_DRIVERS
        help
          VC04 VCHIQ driver
