#
# vmcs services module config
#

menuconfig BRCM_MISC_DRIVERS
	tristate "Broadcom Misc Drivers"
	depends on PROC_FS
	help
	  Broadcom's VideoCore related drivers

config VC_GENCMD
	tristate "GENCMD Driver"
	depends on BRCM_MISC_DRIVERS
	default BRCM_MISC_DRIVERS
