#
# Broadcom KONA architecture based implementations
#
CONFIG_BCM_RAM_BASE=0x80000000
CONFIG_BCM_PARAMS_PHYS=0x80000000
CONFIG_BCM_ZRELADDR=0x80008000
CONFIG_BCM_RAM_START_RESERVED_SIZE=0x00000000

#
# Island SoC based Machine types
#
CONFIG_MACH_ISLAND_SV_28160=y

#
# Some wireless drivers require a rate control algorithm
#
CONFIG_RFKILL=y
CONFIG_RFKILL_PM=y
CONFIG_RFKILL_LEDS=y

#
# Device Drivers
#
CONFIG_BRCM_VIRTUAL_SENSOR=y
CONFIG_SENSORS_BH1715=y
CONFIG_BMP18X=y
CONFIG_BMP18X_I2C=y
CONFIG_SENSORS_BMA150=y
CONFIG_SENSORS_MPU3050=y
# CONFIG_SENSORS_AK8975 is not set
CONFIG_SENSORS_AK8975_BRCM=y
CONFIG_MONITOR_ADC121C021_I2C=y

#
# Frame buffer hardware drivers
#
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y

CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_EGALAX_I2C=y

CONFIG_VC_PLATFORM_DIR="vcfw/platform/broadcom/bcm911160-tablet"

# CONFIG_NET_ISLAND is not set
