config SENSORS_TMG399X
	tristate "tmd3992/tmg3993 ambient light&proximity&gesture sensor support"
	depends on I2C
	default n
	help
		If you say yes here you get support for AMS tmg3992/tmg3993
		ambient light proximity sensor support
