#
# Broadcom char driver config
#

menuconfig BRCM_CHAR_DRIVERS
	tristate "Broadcom Char Drivers"
	depends on PROC_FS
	help
	  Broadcom's char drivers

config V3D
	tristate "V3D Driver"
	depends on BRCM_CHAR_DRIVERS && (ARCH_RHEA || ARCH_SAMOA)
	default n

config BRCM_FUSE_LOG
	tristate "Broadcom FUSE LOG drivers"
	depends on BRCM_CHAR_DRIVERS
	default n
	--help---
	  Broadcom FUSE LOG drivers
	  
config STM_DEFAULT
	tristate "STM Driver"
	depends on BRCM_CHAR_DRIVERS
	default n
    
config ISP
	tristate "ISP Driver"
	depends on BRCM_CHAR_DRIVERS && (ARCH_RHEA || ARCH_SAMOA)
	default n   

config UNICAM
	tristate "UNICAM Driver"
	depends on BRCM_CHAR_DRIVERS && (ARCH_RHEA || ARCH_SAMOA)
	default n 	

config BCM_MODEM
        tristate "Broadcom Modem Driver"
        depends on BRCM_CHAR_DRIVERS && NET
        default n
        help
          Broadcom Modem IPC drivers

config GPIO_USER_MODE_SUPPORT
	tristate "Broadcom GPIO User Mode Support"
	depends on BRCM_CHAR_DRIVERS
	default n
	help
	  Say y to turn on support for GPIO in user mode
	  
config BCM_AMXR
   bool "Audio Mixer Driver support"
   default y
   ---help---
   Say Y to enable the Audio Mixer Driver to support interconnecting
   audio samples between kernel objects.
   
config BCM_HALAUDIO
    bool "HAL Audio Driver support"
    select BCM_AMXR
    select BCM_GOS
    default n
    ---help---
    Say Y to enable HAL Audio Driver support which is used to control
    audio hardware.
     
