#
# Broadcom char driver config
#

menuconfig BRCM_CHAR_DRIVERS
	tristate "Broadcom Char Drivers"
	depends on PROC_FS
	help
	  Broadcom's char drivers

config V3D
	tristate "V3D Driver"
	depends on BRCM_CHAR_DRIVERS
	default BRCM_CHAR_DRIVERS

config BCM_AMXR
   bool "Audio Mixer Driver support"
   select BCM_GOS
   default y
   ---help---
   Say Y to enable the Audio Mixer Driver to support interconnecting
   audio samples between kernel objects.
