config FB_BRCM_RHEA
	tristate "Broadcom Rhea Platform Framebuffer support"
	depends on FB && ARM && ARCH_RHEA
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
	  This framebuffer device driver is for the Broadcom Rhea platform.
