menu	"Island SoC based Machine types"
	depends on ARCH_ISLAND

choice
	prompt "Island SoC based board type"
	default MACH_ISLAND_FF	

config MACH_ISLAND_FPGA
	bool "Support Broadcom Island FPGA platform"
	help
	  Support for the Broadcom Island FPGA platform.

config MACH_ISLAND_BU
	bool "Support Broadcom Island bring-up board"
	help
	  Support for the Broadcom Island bring-up board.

config MACH_ISLAND_FF
	bool "Support Broadcom Island FF/DK board"
	help
	  Support for the Broadcom Island FF/DK board.
	  
config MACH_ISLAND_BASE
        bool "Support Broadcom Island base board"
        help
          Support for the Broadcom Island base board.

config MACH_ISLAND_SV
        bool "Support Broadcom Island SV board"
        help
          Support for the Broadcom Island SV board.

config MACH_ISLAND_TABLET
        bool "Support Broadcom Island Tablet board"
        help
          Support for the Broadcom Island Tablet board.

endchoice

config MAP_SDMA
	bool "MAP SDMA and Memory Map"
	help
	  Support for the SDMA driver and its memory map utilities.

config IPC
	bool "Inter-Processor Communication (IPC)"
	help
	  Support for IPC.

endmenu
