menu	"Island SoC based Machine types"
	depends on ARCH_ISLAND

choice
	prompt "Island SoC based board type"
	default MACH_ISLAND_IS

config MACH_ISLAND_FPGA
	bool "Support Broadcom Island FPGA platform"
	help
	  Support for the Broadcom Island FPGA platform.

config MACH_ISLAND_BU
	bool "Support Broadcom Island bring-up board"
	help
	  Support for the Broadcom Island bring-up board.

config MACH_ISLAND_FF
	bool "Support Broadcom Island FF/DK board"
	help
	  Support for the Broadcom Island FF/DK board.
	  
config MACH_ISLAND_IS
	bool "Support Broadcom Island stone  board"
	help
	  Support for the Broadcom Island stone board.

config MACH_ISLAND_BASE
        bool "Support Broadcom Island base board"
        help
          Support for the Broadcom Island base board.

config MACH_ISLAND_SV
        bool "Support Broadcom Island SV board"
        help
          Support for the Broadcom Island SV board.

config MACH_ISLAND_SV_28160
        bool "Support Broadcom Island SV 28160 board"
        help
          Support for the Broadcom Island SV 28160 board.

config MACH_ISLAND_TABLET
        bool "Support Broadcom Island Tablet board"
        help
          Support for the Broadcom Island Tablet board.

config MACH_ISLAND_TABLET_28160
        bool "Support Broadcom Island 28160 Tablet board"
        help
          Support for the Broadcom Island 28160 Tablet board.

config MACH_ISLAND_CUSTOM_BOARDS_SUPPORT
        bool "Support Custom Island boards"
        help
          Support for the Custom Island board designs.

endchoice

config MAP_LITTLE_ISLAND_MODE
        bool "LITTLE ISLAND Mode"
        help
          Support the Little Island mode.

config MAP_LITTLE_ISLAND_MEMC_QOS
        bool "Enable Memory Controller QOS in LITTLE ISLAND Mode"
        depends on MAP_LITTLE_ISLAND_MODE
        help
          Enable Memory Controller QOS in Little Island mode.

config MAP_DUMMY_PM
        bool "MAP Dummy PM ops"
	default n
        help
          Support for dummy PM ops to facilitate driver PM testing.

config MAP_SDMA
	bool "MAP SDMA and Memory Map"
	help
	  Support for the SDMA driver and its memory map utilities.

config MAP_AADMA
   bool "MAP CAPH AADMA"
   help
      Support for the CAPH Audio Asynchronous DMA driver

config MAP_SSASW
   bool "MAP CAPH SSASW"
   help
      Support for the CAPH Synchronous Audio Switch driver

config MAP_MEMC_STATISTICS
   bool "MAP MEMC Statistics"
   help
      Add MEMC statistics collection module

config MAP_ISLAND_AUDIOH_CHAL
   bool "MAP AUDIOH CHAL"
   help
      Support for CHAL libraries for Audio Hub on Island

config MAP_ISLAND_PCM_CHAL
   bool "MAP PCM CHAL"
   help
      Support for CHAL libraries for PCM on Island

config MAP_ISLAND_NAND_CHAL
   bool "MAP NAND CHAL"
   help
      Support for CHAL libraries for NAND on Island

config MAP_ISLAND_SUSPEND_INVALID
   bool "MAP SUSPEND INVALID"
   depends on SUSPEND
   help
      Make kernel to advertise all suspend states as invalid. 

config IPC
	bool "Inter-Processor Communication (IPC)"
	help
	  Support for IPC.

config ISLAND_DORMANT_MODE
       bool "Enable dormant mode support for Island platform"
       help
	Say Y if you want to enable dormant mode support for Island platform

config ISLAND_PM_TEST
   bool "Test PM Command for Islandray"
   depends on MACH_ISLAND_BU
   help
      Say Y if you want to enable pm test command.

endmenu

source "arch/arm/mach-island/custom_boards/Kconfig"

