/* Hawaii_edn010_secureOS Dts file */

/dts-v1/;

/include/ "bcm_21664.dtsi"
/include/ "hawaii_bcmpmu_edn010.dtsi"

/ {
	model = "Hawaiistone EDN010";
	compatible = "bcm,hawaii";

	chosen {
		bootargs = "console=ttyS0,115200n8 mem=736M gpt androidboot.console=ttyS0 crash_ramdump=1 logbuf_nocache=1";
	};

	memory@82000000 {
		device_type = "memory";
		reg = <0x82000000 0x2e000000>; /* 736 MB */
	};

	wd-tapper {
		count = <300>; /* Time in seconds */
		ch-num = <1>; /* Kona hub timer Channel number */
		timer-name = "aon-timer";
	};

	usb-phy@0x3F130000 {
		interrupts = <0 128 0x04>;
		chipreg-virtual-mem-base = <0x35004000>;
		usb-ahb-clk-name = "usb_otg_clk";
		mdio-mstr-clk-name = "mdiomaster";
	};
	usb-hsotgctrl@0x3F130000 {
		chipreg-virtual-mem-base = <0x35004000>;
		usb-ahb-clk-name = "usb_otg_clk";
		mdio-mstr-clk-name = "mdiomaster";
	};


	uart@3e000000 {
		clock-frequency = <26000000>;
		port-name = "console";
		clk-name = "uartb_clk";
	};

	uart@3e001000 {
		clock-frequency = <48000000>;
		port-name = "bluetooth";
		clk-name = "uartb2_clk";
	};

	uart@3e002000 {
		clock-frequency = <26000000>;
		port-name = "gps";
		clk-name = "uartb3_clk";
		/*If power-save-enable is set Change
		* PADCTRL_UBRTSN from UART3_RTSN to
		* UBRTSN (Debug UART) when GPS is inactive.*/
		power-save-enable = <1>;
	};

	i2c0: i2c@3e016000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc1_clk";
		bsc-apb-clk = "bsc1_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;
	};

	i2c1: i2c@3e017000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc2_clk";
		bsc-apb-clk = "bsc2_apb_clk";
		retries = <3>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;

		broadcom_nfc@77 {
			compatible = "bcm,nfc-i2c";
			reg = <0x77>;
			wake_gpio = <25>;
			en_gpio = <100>;
			irq_gpio = <90>;
			enable_txfifo = <1>;
			enable_rxfifo = <1>;
		};

	};

	i2c2: i2c@3e018000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc3_clk";
		bsc-apb-clk = "bsc3_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;

		mpu6050@68 {
			compatible = "bcm,mpu6050";
			reg = <0x68>;
			gpio-irq-pin = <33>;
			int-config = <0x10>;
			level-shifter = <0>;
			orientation = <0xFFFFFFFF 0 0
					0 1 0
					0 0 0xFFFFFFFF>;
		};

		al3006@1d {
			compatible = "bcm,al3006";
			reg = <0x1d>;
			gpio-irq-pin = <0xFFFFFFFF>;
		};

		ami306@0e {
			compatible = "bcm,ami_sensor";
			reg = <0x0e>;
			gpio-intr = <0>;	/*AMI_GPIO_INT*/
			gpio-drdy = <0>;	/*AMI_GPIO_DRDY*/
			dir = <6>;		/*AMI_DIR*/
			polarity = <2>;		/*AMI_POLARITY*/
			regulator-name = "cam2";
		};

		bmp18x@77 {
			compatible = "bcm,bmp18x";
			reg = <0x77>;
			regulator-name = "cam2";
		};

	};

	i2c3: i2c@3e01c000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc4_clk";
		bsc-apb-clk = "bsc4_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;

		tango_ts@46 {
			compatible = "bcm,tango_ts";
			reg = <0x46>;
			gpio-irq-pin = <73>;
			gpio-reset-pin = <70>;
			x-max-value = <480>;
			y-max-value = <800>;
			layout = <1>;
			num-bytes-to-read = <20>;
			is-multi-touch = <1>;
			is-resetable = <1>;
			num-fingers-idx = <0>;
			old-touching-idx = <1>;
			x1-lo-idx = <2>;
			x1-hi-idx = <3>;
			y1-lo-idx = <4>;
			y1-hi-idx = <5>;
			x2-lo-idx = <6>;
			x2-hi-idx = <7>;
			y2-lo-idx = <8>;
			y2-hi-idx = <9>;
			x1-width-idx = <10>;
			y1-width-idx = <11>;
			x2-width-idx = <12>;
			y2-width-idx = <13>;
			pressure-lo-idx = <18>;
			pressure-hi-idx = <19>;
			power-mode-idx = <20>;
			int-mode-idx = <21>;
			int-width-idx = <22>;
			min-finger-val = <0>;
			max-finger-val = <2>;
			panel-width = <56>;
			max-pressure = <800>;
                        /* Enable I2C autosense but disable timeout */
                        client_func_magic = <0x666C6167>;
                        client_func_map = <1>;
		};
	};

	i2c4: i2c@3500d000 {
		speed = <7>; /* BSC_BUS_SPEED_HS */
		dynamic-speed = <0>;
		bsc-clk = "pmu_bsc_clk";
		bsc-apb-clk = "pmu_bsc_apb";
		retries = <5>;
		is-pmu-i2c = <1>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <26000000>;
	};

	bluetooth-btlpm {
		compatible = "bcm,btlpm";
		bt-wake-gpio = <32>;
		host-wake-gpio = <72>;
		bt-uart-port = <1>;
	};

	bcmbt-rfkill {
		compatible = "bcm,bcmbt-rfkill";
		verg-gpio = <28>;
		n-reset-gpio = <0xFFFFFFFF>;
		aux0-gpio = <0xFFFFFFFF>; /* CLK32 */
		aux1-gpio = <0xFFFFFFFF>; /* UARTB_SEL,probably not required */
	};

	iommu_mm: iommu-mm {
		compatible = "bcm,iommu-m4u";
		iova_begin  = <0x80000000>;
		iova_size   = <0x80000000>;
		errbuf_size = <0x00001000>;
	};

	iovmm_mm: iovmm-mm {
		compatible = "bcm,iovmm";
		base = <0xc0000000>;
		size = <0x20000000>;
		order = <0>;
	};

	iovmm_mm_256mb: iovmm-mm-256mb {
		compatible = "bcm,iovmm";
		base = <0xe0000000>;
		size = <0x10000000>;
		order = <0>;
	};

	ion-system {
		compatible = "bcm,ion";
		id = <0>;
		type = <0>;
		iommu = <&iommu_mm>;
		iommu_iovmm = <&iovmm_mm_256mb>;
	};

	ion-carveout {
		compatible = "bcm,ion";
		id = <3>;
		type = <2>;
		base  = <0x90000000>;
		limit = <0xa0000000>;
		size  = <0x04000000>;
		lmk_enable = <0>;
		lmk_min_score_adj = <411>;
		lmk_min_free = <32>;
		iommu = <&iommu_mm>;
		iommu_iovmm = <&iovmm_mm_256mb>;
	};

	ion-cma {
		compatible = "bcm,ion";
		id = <2>;
		type = <4>;
		base  = <0x90000000>;
		limit = <0xa0000000>;
		size  = <0x0c000000>;
		lmk_enable = <1>;
		lmk_min_score_adj = <411>;
		lmk_min_free = <32>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm_256mb>;
	};

	soc-back-camera {
		compatible = "bcm,soc-camera";
		reg = <0x3c 0x0>;
		bus-id = <0>;
		i2c-type = "ov5640";	/* i2c_board_info type */
		i2c-addr = <0x3c>;	/* i2c_board_info addr */
		i2c-adapter-id = <0>;
		module-name = "ov5640";
		if-type = <1>;		/* V4L2_SUBDEV_SENSOR_SERIAL */
		if-mode = <3>;		/* V4L2_SUBDEV_SENSOR_MODE_SERIAL_CSI2 */
		orientation = <1>;	/* V4L2_SUBDEV_SENSOR_LANDSCAPE */
		facing = <1>;		/* V4L2_SUBDEV_SENSOR_BACK */
		lanes = <2>;
		channel = <0>;
		phy-rate = <0>;
		pix-clk = <0>;
		regulators = "vsr_uc", "mmc1_vcc", "mmc2_vcc", "lvldo2_uc";
	};

	soc-front-camera {
		compatible = "bcm,soc-camera";
		reg = <0x3e 0x0>;
		bus-id = <0>;
		i2c-type = "ov7692";	/* i2c_board_info type */
		i2c-addr = <0x3e>;	/* i2c_board_info addr */
		i2c-adapter-id = <0>;
		module-name = "ov7692";
		if-type = <1>;		/* V4L2_SUBDEV_SENSOR_SERIAL */
		if-mode = <3>;		/* V4L2_SUBDEV_SENSOR_MODE_SERIAL_CSI2 */
		orientation = <1>;	/* V4L2_SUBDEV_SENSOR_LANDSCAPE */
		facing = <0>;		/* V4L2_SUBDEV_SENSOR_FRONT */
		lanes = <1>;
		channel = <1>;
		phy-rate = <0>;
		pix-clk = <0>;
		regulators = "lvldo2_uc", "mmc1_vcc", "mmc2_vcc", "vsr_uc";

	};

	kona-fb {
		module-name = "NT35516";
		reg-name = "cam2";
		rst-gpio = <&gpio 22 0>;
		rst-setup = <5>;	/* 5us */
		rst-pulse = <15>;	/* 15us */
		rst-hold = <10000>;	/* 10ms */
		/* rst-active-high */	/* Commented => Active Low */
		vmode;			/* Video mode */
		/* vburst = <0>; */	/* Non-burst mode */
		/* cmnd-LP; */		/* Commands in HS mode*/
		te-ctrl;		/* Tearing Effect Control enabled */
		col-mod-i = <3>;
		col-mod-o = <2>;
		width = <540>;
		height = <960>;
		fps = <60>;
		lanes = <3>;
		hs-bitrate = <330000000>;	/* 330mbps */
		lp-bitrate = <5000000>;	/* 5mbps */
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm>;
		rotation = <0>;
	};

	tmon@0x34008000 {
		compatible = "bcm,tmon";
		reg = <0x34008000 0x1000>;
		interrupts = <0 183 4>;
		chipreg_addr = <0x35004000 0x1000>;
		thold_size = <4>; /*number of threshold levels*/
		poll_rate_ms = <30000>;
		hysteresis = <0>;
		flags = <2>;
		interval_ms = <5>;
		thold = <70 1
			80 1
			90 1
			100 2>;
		tmon_apb_clk = "tmon_apb";
		tmon_1m_clk = "tmon_1m_clk";
		falling = <5>;
	};

	memc@35008000 {
		compatible = "bcm,memc";
		reg = <0x35008000 0x1000>;
		flags = <0x3B>;
		chipreg_base = <0x35004000 0x1000>;
		memc0_aphy_base = <0x35008400 0x1000>;
		seq_busy_val = <2>;
		max_pwr = <3>;
	};

	sdio1 {
		compatible = "bcm,sdhci";
		reg = <0x3F190000 10000>;
		interrupts = <0 76 0x04>;
		id = <1>;
		data-pullup = <0>;
		is-8bit = <1>;
		devtype = <2>;		/*SDIO_DEV_TYPE_EMMC*/
		flags = <3>;		/*NON_REMOVABLE | RPM_EN*/
		pm_caps = <1>;		/*MMC_PM_KEEP_POWER*/
		peri-clk-name = "sdio2_clk";
		ahb-clk-name = "sdio2_ahb_clk";
		sleep-clk-name = "sdio2_sleep_clk";
		peri-clk-rate = <52000000>;
	};

	sdio2 {
		compatible = "bcm,sdhci";
		reg = <0x3F1A0000 10000>;
		interrupts = <0 74 0x04>;
		id = <2>;
		data-pullup = <0>;
		devtype = <1>;		/*SDIO_DEV_TYPE_WIFI*/
		flags = <2>;		/*REMOVABLE | RPM_EN*/
		peri-clk-name = "sdio3_clk";
		ahb-clk-name = "sdio3_ahb_clk";
		sleep-clk-name = "sdio3_sleep_clk";
		peri-clk-rate = <48000000>;
	};

	sdio0 {
		compatible = "bcm,sdhci";
		reg = <0x3F180000 10000>;
		interrupts = <0 77 0x04>;
		id = <0>;
		data-pullup = <0>;
		cd-gpio = <&gpio 91 0>;		/*SD_CARDDET_GPIO_PIN*/
		devtype = <0>;		/*SDIO_DEV_TYPE_SDMMC*/
		flags = <2>;		/*REMOVABLE | RPM_EN*/
		peri-clk-name = "sdio1_clk";
		ahb-clk-name = "sdio1_ahb_clk";
		sleep-clk-name = "sdio1_sleep_clk";
		peri-clk-rate = <48000000>;
		vddo-regulator-name = "vdd_sdio";
		vddsdxc-regulator-name = "vdd_sdxc";
	};

	wifi-driver {
		compatible = "bcm,bcm_wifi";
		wl-reset-gpio = <3>;
		host-wake-gpio = <74>;
		board-nvram-file = "/system/vendor/firmware/fw_wifi_nvram_4334_hs10.txt";
		module-name = "bcmdhd_4334";
	};

	keypad {
		row-num = <2>;
		col-num = <3>;
		row-col-count = <8>;
		key-name = "Vol Down Key", "Vol Up Key", "Search Key", "unused",
			"unused", "unused", "unused", "unused", "Home-Key",
			"Back Key", "Menu-Key", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused";
		key-code = <114 115 217 0 0 0 0 0
			102 158 139 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0>;
	};

	pwm-backlight {
		compatible = "bcm,pwm-backlight";
		reg = <0x0 0x0>;
		pwm-id = <2>;
		max-brightness = <32>;	/* Android calibrates to 32 levels */
		dft-brightness = <32>;
		polarity = <1>;		/* Inverted polarity */
		pwm-period-ns = <99900>; /* ~10010 Hz */
		pwm-request-label = "backlight";
	};

	mobicore {
		mobicore-base = <0x9d800000>;
		mobicore-size = <0x300000>;
	};

};
