/* Java_ss_baffinlite_rev02 Dts file */

/dts-v1/;

/include/ "java.dtsi"


/ {
	model = "Java ss baffinlite rev02";
	compatible = "bcm,java";

	chosen {
		bootargs = "console=ttyS2,115200n8 mem=738M gpt androidboot.console=ttyS2 crash_ramdump=1 logbuf_nocache=1";
	};

	memory@81E00000 {
		device_type = "memory";
		reg = <0x81E00000 0x2e000000>; /* 736 MB */
	};

	wd-tapper {
		count = <120>; /* Time in seconds */
		ch-num = <1>; /* Kona hub timer Channel number */
		timer-name = "aon-timer";
	};

	uart@3e000000 {
		clock-frequency = <48000000>;
		port-name = "bluetooth";
		clk-name = "uartb_clk";
	};

	uart@3e001000 {
		clock-frequency = <26000000>;
		port-name = "gps";
		clk-name = "uartb2_clk";
		/*If power-save-enable is set Change
		* PADCTRL_UBRTSN from UART3_RTSN to
		* UBRTSN (Debug UART) when GPS is inactive.*/
		power-save-enable = <1>;
	};

	uart@3e002000 {
		clock-frequency = <26000000>;
		port-name = "console";
		clk-name = "uartb3_clk";
	};

	i2c0: i2c@3e016000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc1_clk";
		bsc-apb-clk = "bsc1_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;
	};

	i2c1: i2c@3e017000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc2_clk";
		bsc-apb-clk = "bsc2_apb_clk";
		retries = <3>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;
	};

	i2c2: i2c@3e018000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc3_clk";
		bsc-apb-clk = "bsc3_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;
	};

	i2c3: i2c@3e01c000 {
		speed = <5>; /* BSC_BUS_SPEED_400 K */
		dynamic-speed = <1>;
		bsc-clk = "bsc4_clk";
		bsc-apb-clk = "bsc4_apb_clk";
		retries = <1>;
		is-pmu-i2c = <0>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <104000000>;
	};

	i2c4: i2c@3500d000 {
		speed = <7>; /* BSC_BUS_SPEED_HS */
		dynamic-speed = <0>;
		bsc-clk = "pmu_bsc_clk";
		bsc-apb-clk = "pmu_bsc_apb";
		retries = <5>;
		is-pmu-i2c = <1>;
		fs-ref-frequency = <13000000>;
		hs-ref-frequency = <26000000>;
	};

	bcm-bt-lpm {
		compatible = "bcm,bcm-bt-lpm";
		bt-wake-gpio = <&gpio 32 0>;
		host-wake-gpio = <&gpio 72 0>;
	};

	bcm-bt-rfkill {
		compatible = "bcm,bcm-bt-rfkill";
		bcm-bt-rfkill-vreg-gpio = <&gpio 28 0>;
		bcm-bt-rfkill-n-reset-gpio = <&gpio 71 0>;
	};

	iommu_mm: iommu-mm {
		compatible = "bcm,iommu-m4u";
		iova_begin  = <0x80000000>;
		iova_size   = <0x80000000>;
		errbuf_size = <0x00001000>;
		skip_enable = <1>;
	};

	iovmm_mm: iovmm-mm {
		compatible = "bcm,iovmm";
		base = <0x80000000>;
		size = <0x30000000>;
		order = <0>;
	};

	iovmm_mm_hwwr: iovmm-mm-hwwr {
		compatible = "bcm,iovmm";
		base = <0xb0000000>;
		size = <0x40000000>;
		order = <0>;
	};

	iovmm_mm_256mb: iovmm-mm-256mb {
		compatible = "bcm,iovmm";
		base = <0xf0000000>;
		size = <0x0ff00000>;
		order = <0>;
	};

	ion-config {
		compatible = "bcm,ion-config";
		/* Workaround: Use a separate iova pool for hwwr buffers */
		mask_hwwr = <0x4>;
		mask_256M = <0x221>;
	};

	ion-system {
		compatible = "bcm,ion";
		id = <0>;
		type = <0>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm_256mb>;
	};

	ion-system-extra {
		compatible = "bcm,ion";
		id = <1>;
		type = <0>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm>;
	};

	ion-system-hwwr {
		compatible = "bcm,ion";
		id = <2>;
		type = <0>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm_hwwr>;
	};

	ion-carveout {
		compatible = "bcm,ion";
		id = <9>;
		type = <2>;
		base  = <0x90000000>;
		limit = <0xa0000000>;
		size  = <0x01000000>;
		lmk_enable = <0>;
		lmk_min_score_adj = <411>;
		lmk_min_free = <32>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm_256mb>;
	};

	ion-cma {
		compatible = "bcm,ion";
		id = <5>;
		type = <4>;
		base  = <0x90000000>;
		limit = <0xa0000000>;
		size  = <0x00000000>;
		lmk_enable = <1>;
		lmk_min_score_adj = <411>;
		lmk_min_free = <32>;
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm_256mb>;
	};

	soc-back-camera {
		compatible = "bcm,soc-camera";
		reg = <0x36 0x0>;
		bus-id = <0>;
		i2c-type = "ov5648";
		i2c-addr = <0x36>;
		i2c-adapter-id = <0>;
		module-name = "ov5648";
		if-type = <1>;
		if-mode = <3>;
		orientation = <1>;
		facing = <1>;
		lanes = <2>;
		channel = <0>;
		phy-rate = <0>;
		pix-clk = <0>;
		regulators = "lvldo1_uc", "mmc1_vcc", "mmc2_vcc", "lvldo2_uc";
	};

	soc-front-camera {
		compatible = "bcm,soc-camera";
		reg = <0x3e 0x0>;
		bus-id = <0>;
		i2c-type = "ov7692";	/* i2c_board_info type */
		i2c-addr = <0x3e>;	/* i2c_board_info addr */
		i2c-adapter-id = <0>;
		module-name = "ov7692";
		if-type = <1>;		/* V4L2_SUBDEV_SENSOR_SERIAL */
		if-mode = <3>;		/* V4L2_SUBDEV_SENSOR_MODE_SERIAL_CSI2 */
		orientation = <1>;	/* V4L2_SUBDEV_SENSOR_LANDSCAPE */
		facing = <0>;		/* V4L2_SUBDEV_SENSOR_FRONT */
		lanes = <1>;
		channel = <1>;
		phy-rate = <0>;
		pix-clk = <0>;
		regulators = "lvldo2_uc", "mmc1_vcc", "mmc2_vcc", "lvldo1_uc";
	};

	kona-fb {
		module-name = "HX8369";
		reg-name = "cam2";
		rst-gpio = <22>;
		rst-setup = <5>;	/* 700us */
		rst-pulse = <20>;	/* 1ms */
		rst-hold = <1300000>;	/* 100ms */
		col-mod-i = <2>;
		col-mod-o = <2>;
		width = <480>;
		height = <800>;
		/* rst-active-high */	/* Commented => Active Low */
		vmode;
		vburst;	/* Non-burst mode */
		/* te-ctrl; */		/* Tearing Effect Control disabled */
		fps = <60>;
		lanes = <2>;
		cmnd-LP;		/* Commands in LP mode*/
		hs-bitrate = <490000000>;
		lp-bitrate = <8000000>;	/* 8mbps */
		iommu = <&iommu_mm>;
		iovmm = <&iovmm_mm>;
		rotation = <0>;
	};


	tmon@0x34008000 {
		compatible = "bcm,tmon";
		reg = <0x34008000 0x1000>;
		interrupts = <0 183 4>;
		chipreg_addr = <0x35004000 0x1000>;
		thold_size = <8>; /*number of threshold levels*/
		poll_rate_ms = <30000>;
		hysteresis = <0>;
		flags = <5>;
		interval_ms = <8>;
		/*sw shdwn temp is 120*/
		thold = <55 1
			58 1
			63 1
			65 1
			70 1
			80 1
			115 4
			120 2>;
		tmon_apb_clk = "tmon_apb";
		tmon_1m_clk = "tmon_1m_clk";
		falling = <5>; /*fall back temperature offset*/
	};

	memc@35008000 {
		compatible = "bcm,memc";
		reg = <0x35008000 0x1000>;
		interrupts = <0 61 4>;
		flags = <0xF3>;
		chipreg_base = <0x35004000 0x1000>;
		memc0_aphy_base = <0x35008400 0x1000>;
		seq_busy_val = <2>;
		max_pwr = <3>;
		temp_period = <0xA09E6C>; /*400ms*/
		temp_tholds = <7 1>;
		num_thold = <1>;
		pll_freq = <0 0 0 0
				0x3D 0 1 0
				0x50 0 1 0>;
	};

	sdio1 {
		compatible = "bcm,sdhci";
		reg = <0x3F190000 10000>;
		interrupts = <0 76 0x04>;
		id = <1>;
		data-pullup = <0>;
		is-8bit = <1>;
		devtype = <2>;		/*SDIO_DEV_TYPE_EMMC*/
		flags = <3>;		/*NON_REMOVABLE | RPM_EN*/
		peri-clk-name = "sdio2_clk";
		ahb-clk-name = "sdio2_ahb_clk";
		sleep-clk-name = "sdio2_sleep_clk";
		peri-clk-rate = <52000000>;
	};

	sdio2 {
		compatible = "bcm,sdhci";
		reg = <0x3F1A0000 10000>;
		interrupts = <0 74 0x04>;
		id = <2>;
		data-pullup = <0>;
		devtype = <1>;		/*SDIO_DEV_TYPE_WIFI*/
		flags = <2>;		/*REMOVABLE | RPM_EN*/
		peri-clk-name = "sdio3_clk";
		ahb-clk-name = "sdio3_ahb_clk";
		sleep-clk-name = "sdio3_sleep_clk";
		peri-clk-rate = <48000000>;
	};

	sdio0 {
		compatible = "bcm,sdhci";
		reg = <0x3F180000 10000>;
		interrupts = <0 77 0x04>;
		id = <0>;
		data-pullup = <0>;
		cd-gpio = <91>;		/*SD_CARDDET_GPIO_PIN*/
		devtype = <0>;		/*SDIO_DEV_TYPE_SDMMC*/
		flags = <2>;		/*REMOVABLE | RPM_EN*/
		peri-clk-name = "sdio1_clk";
		ahb-clk-name = "sdio1_ahb_clk";
		sleep-clk-name = "sdio1_sleep_clk";
		peri-clk-rate = <48000000>;
		vddo-regulator-name = "vdd_sdio";
		vddsdxc-regulator-name = "vdd_sdxc";
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <1 13 0xf08>,
					<1 14 0xf08>;
	};

	wifi-driver {
		compatible = "bcm,bcm_wifi";
		wl-reset-gpio = <3>;
		host-wake-gpio = <74>;
		board-nvram-file = "/system/vendor/firmware/fw_wifi_nvram_4330.txt";
		module-name = "bcmdhd_4330";
	};

	keypad {
		row-num = <1>;
		col-num = <4>;
		row-col-count = <8>;
		key-name = "unused", "Vol Down Key", "unused", "Vol Up Key",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused",
			"unused", "unused", "unused", "unused", "unused";
		key-code = <0 114 0 115 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0
			0 0 0 0 0 0 0 0>;
	};



	secure_mem {
		sec-mem-base = <0x9d800000>;
		sec-mem-size = <0x100000>;
	};

};
