menu "Broadcom BCM2708 Implementations"
	depends on ARCH_BCM2708

config MACH_BCM2708
	bool "Broadcom BCM2708 Development Platform"
	select CPU_V6
	help
	  Include support for the Broadcom(R) BCM2708 platform.

config VCHIQ
        bool "BCM2708 VCHIQ support"
        depends on MACH_BCM2708
        default y
        help
          Include support for the Broadcom(R) VCHIQ interface.


config DUMMY_TOUCHSCREEN
	bool "BCM2708 dummy touchscreen support"
	depends on MACH_BCM2708
        default y
	help
	  Include support the Broadcom(R) dummy touchscreen

endmenu
